<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
<!-- 配置客户登录 -->
<servlet>
  <servlet-name>a</servlet-name>  
  <servlet-class>com.servlet.Customer_Login</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>a</servlet-name>
  <url-pattern>/login1</url-pattern>
</servlet-mapping>
<!-- 管理员 -->
<servlet>
  <servlet-name>b</servlet-name>  
  <servlet-class>com.servlet.AdminServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>b</servlet-name>
  <url-pattern>/admin/login2</url-pattern>
</servlet-mapping>

<!-- 支付方式 -->
<servlet>
  <servlet-name>c</servlet-name>  
  <servlet-class>com.servlet.PaymentServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>c</servlet-name>
  <url-pattern>/admin/login3</url-pattern>
</servlet-mapping>
<!-- 订单 -->
<servlet>
  <servlet-name>d</servlet-name>  
  <servlet-class>com.servlet.OrderServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>d</servlet-name>
  <url-pattern>/admin/login4</url-pattern>
</servlet-mapping>
<!-- 商品分类 -->
<servlet>
  <servlet-name>e</servlet-name>  
  <servlet-class>com.servlet.MainTypeServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>e</servlet-name>
  <url-pattern>/admin/login5</url-pattern>
</servlet-mapping>
<!-- 商品管理 -->
<servlet>
  <servlet-name>f</servlet-name>  
  <servlet-class>com.servlet.ProductServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>f</servlet-name>
  <url-pattern>/admin/login6</url-pattern>
</servlet-mapping>
<!-- 公告管理 -->
<servlet>
  <servlet-name>g</servlet-name>  
  <servlet-class>com.servlet.NoticeServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>g</servlet-name>
  <url-pattern>/admin/login7</url-pattern>
</servlet-mapping>
<!-- 留言管理 -->
<servlet>
  <servlet-name>h</servlet-name>  
  <servlet-class>com.servlet.IdeaServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>h</servlet-name>
  <url-pattern>/admin/login8</url-pattern>
</servlet-mapping>
<!-- 管理员信息分页 -->
<servlet>
  <servlet-name>i</servlet-name>  
  <servlet-class>com.bean.Page</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>i</servlet-name>
  <url-pattern>/admin/admin_all</url-pattern>
</servlet-mapping>
<!-- 客户信息分页 -->
<servlet>
  <servlet-name>j</servlet-name>  
  <servlet-class>com.bean.CustPage</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>j</servlet-name>
  <url-pattern>/admin/cust_all</url-pattern>
</servlet-mapping>
<!-- 商品信息分页 -->
<servlet>
  <servlet-name>k</servlet-name>  
  <servlet-class>com.bean.ProductPage</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>k</servlet-name>
  <url-pattern>/admin/product_all</url-pattern>
</servlet-mapping>
<!-- 客户界面更多商品信息分页 -->
<servlet>
  <servlet-name>l</servlet-name>  
  <servlet-class>com.bean.ProductPage</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>l</servlet-name>
  <url-pattern>/top_more</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>m</servlet-name>  
  <servlet-class>com.servlet.ProductServlet02</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>m</servlet-name>
  <url-pattern>/show</url-pattern>
</servlet-mapping>
<!-- 用户查询订单 -->
<servlet>
  <servlet-name>o</servlet-name>  
  <servlet-class>com.servlet.OrderServlet</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>o</servlet-name>
  <url-pattern>/ding</url-pattern>
</servlet-mapping>

</web-app>
